# 종합소득세 계산하기

> A라는 나라에서는 종합소득세는 과세표준 금액 구간에 따라 다른 세율이 적용됩니다.

|과세표준액|세율|
|-------|---|
|1,200이하|6%|
|1,200 ~ 4,600|15%|
|4,600 ~ |35%|

즉, 1,300원을 벌었을 경우 `1,200\*0.06 + 100\*0.15`를 계산한 결과가 납부해야 하는 세액입니다.

함수 `tax(won)`을 만들고 납부해야하는 세금의 결과를 반환하는 함수를 만들어보세요.

---
```
예시)
tax(1200) #=> 72.0
tax(4600) #=> 582.0
tax(5000) #=> 722.0
```

In [11]:
# 여기에 코드를 작성하세요.
def tax(won):
    if won <= 1200:
        won = won*0.06
    elif won > 1200 and won <= 4600:
        won = 72 + (won-1200)*0.15
    else:
        won = 582 + (won-4600)*0.35
    return won

In [10]:
print(tax(1200))
print(tax(4600))
print(tax(5000))

72.0
582.0
722.0

# 카쉐어링 요금 계산하기

> 카쉐어링 서비스는 요금을 다음과 같이 계산합니다.
>
> 대여는 10분 단위로 가능합니다.
> 
> 1. 대여 요금 : 10분당 1,200원
>
> 2. 보험료 : 30분당 525원 (50분을 빌리면, 1시간으로 계산됩니다.)
>
> 3. 주행 요금 : km당 170원 (주행 요금은 100km가 넘어가면, 넘어간 부분에 대하여 할인이 50% 적용됩니다.)
>
> 예) 160km를 달렸으면, 170\*100 + 85 \*60
>
> 양의 정수인 대여시간(분)과 주행거리를 받아 계산 결과를 반환하는 함수 `fee(minute, distance)`를 만들어보세요.
---
```
예시) 
    fee(600, 50) #=> 91000
    fee(600, 110) #=> 100350
```

In [62]:
30//30

1

In [71]:
import math
math.ceil(5.212)

6

In [74]:
# 여기에 코드를 작성하세요.
import math
def fee(minute, distance):
    total = 0
    if minute>0 and minute <=30:
        total +=minute*0.1*1200 + 525
        if distance>0 and distance < 100:
            total += distance*170
        elif distance>= 100:
            total += 17000 + (distance-100) * 85
    elif minute> 30:
        total += minute*0.1*1200 + math.ceil(minute/30)*525
        if distance>0 and distance < 100:
            total += distance*170
        elif distance>= 100:
            total += 17000 + (distance-100) * 85
    return total

In [75]:
print(fee(600, 50))
print(fee(600, 110))
print(fee(50, 50))
print(fee(60, 50))
print(fee(20, 50))

91000.0
100350.0
15550.0
16750.0
11425.0

In [23]:
toy = 300
a = 200*0.2
toy += a
print(toy)

340.0

# 문자열 탐색

> 문자열 요소로만 이루어진 리스트를 넣었을 때, 문자열 길이가 2 이상이고 주어진 문자열의 첫번째와 마지막 문자가 같은 문자열의 수를 세는 함수 `start_end`를 작성하시오.

예시)

```python
start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']) #=> 3
```

In [106]:
# 여기에 코드를 작성하세요.
def start_end(a):
    cnt = 0
    for i in a:
        if len(i) >= 2 and str(i)[0] == str(i)[-1]:
            cnt += 1
    return cnt

In [105]:
ab = ['level','asdwe', 's', 'abceda', 'gsdwrtfg']
print(ab[4])
print(len(ab))
str(ab[0])[0]

gsdwrtfg
5

'l'

In [107]:
# 해당 코드를 통해 3이 나오는지 확인하세요.
print(start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']))

3


# 이상한 덧셈

> 숫자 구성된 리스트에서 양의 정수의 합을 구하는 함수 `positive_sum`을 작성하세요.

예시)

```python
positive_sum([1,-4,7,12]) #=> 20
positive_sum([-1, -2, -3, -4]) #=> 0
```

In [112]:
# 여기에 코드를 작성하세요.
def positive_sum(a):
    total = 0
    for i in a:
        if i>0:
            total += i
    return total

In [113]:
# 해당 코드를 통해 20과 0이 나오는지 확인하세요.
print(positive_sum([1,-4,7,12]))
print(positive_sum([-1, -2, -3, -4]))

20
0

# Collatz

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.
>
> 1. 입력된 수가 짝수라면 2로 나눕니다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
>
> 예를 들어, 입력된 수가 6이라면 6→3→10→5→16→8→4→2→1 이 되어 총 8번 만에 1이 됩니다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수, collatz를 완성해 주세요.
>
> 단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환해 주세요.

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(27) #=> 111
collatz(626331) #=> -1
```

In [118]:
# 여기에 코드를 작성하세요.
def collatz(a):
    cnt = 0
    while a != 1 and cnt < 500:
        if a%2 == 0:
            a/=2
            cnt += 1
        elif a%2 == 1:
            a = a*3 + 1
            cnt += 1
#         elif a == 1:
#             return cnt
    if cnt == 500:
            return -1
    return cnt

In [116]:
#강사님 코드
def collatz(num):
    for i in range(500): # for 문 500번 돌려라
        if num % 2 == 0:
            num /= 2
        else:
            num = num * 3 + 1
        if num == 1:
            return i + 1
    return -1

In [119]:
# 해당 코드를 통해 8, 4, 111, -1 이 나오는지 확인하세요.
print(collatz(6))
print(collatz(16))
print(collatz(27))
print(collatz(626331))

8
4
111
-1

# 솔로 천국 만들기

> 리스트가 주어집니다. 리스트의 각 요소는 숫자 0부터 9까지로 이루어져 있습니다. 
>
> 이때, 리스트에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 
>
> 리스트에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 반환하는 lonely 함수를 작성해 주세요.
>
> 단, 제거된 후 남은 수들을 반환할 때는 리스트의 요소들의 순서를 유지해야 합니다.  

예시)

```python
lonely([1, 1, 3, 3, 0, 1, 1]) #=> [1, 3, 0, 1]
lonely([4,4,4,3,3]) #=> [4,3]
```

In [ ]:
# 1.리스트 요소에 연속된 수를 찾아야한다
    "cnt를 증가시키면서 하나씩 비교하던가 리스트함수를 만들어서 비교한다."
    "하나씩 비교하면 1,1,1의 경우 1,1 이되어서안된다"
    "리스트함수로 비교하면 나중에 나온 1이 제거된다."
    
# 2. 연속된 수는 1개만 남기고 모두제거한다.

# 3. 연속되지 않고 1개만 나온 수는 남겨야한다.

# 4. 제거 후 남은 수들이 순서가 유지되야한다.

In [104]:
# 여기에 코드를 작성하세요.
def lonely(a):
    cnt1 = 0
    cnt2 = 0
    res1 = []
    res2 = []
    while cnt1<= len(a)-2:
        if a[cnt1] == a[cnt1+1]:
            res1.append(a[cnt1])
            cnt1 += 1
            if a[cnt1-1] not in res1:
                res1.append(a[cnt1-1])
        elif a[cnt1] != a[cnt1+1]:
            cnt1 += 1
            if a[cnt1-1] not in res1:
                res1.append(a[cnt1-1])
        elif a[cnt1] == a[cnt1+1] == a[cnt1+1]:
#     while cnt2 <= len(res1)-2:
#         if res1[cnt2] == res1[cnt2+1]:
#             res2.append(res1[cnt2])
#             cnt2 += 1
#             if res1[cnt2-1] not in res2:
#                 res2.append(res1[cnt2-1])
#         elif res1[cnt2] != res1[cnt2+1]:
#             cnt2 += 1
#             if res1[cnt2-1] not in res2:
#                 res2.append(res1[cnt2-1])
    return res1

In [ ]:
def lonely(a):
    cnt = 0
    result = []
    for i in a
        if i:
            result[cnt] = a[cnt]
            cnt += 1

In [46]:
def lonely(a):
    result = []
    for i in a:
        if i not in result:
            result.append(i)
        elif a[2] == a[2+1] :
            result.append(a[2])
    return result

In [ ]:
range()

In [75]:
b = [1, 1, 3, 3, 0, 1, 1]
cnt = range(len(b))
cnt

range(0, 7)

In [105]:
# 해당 코드를 통해 [1, 3, 0, 1]과 [4, 3]이 나오는지 확인하세요.
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 4, 3]

In [113]:
# 강사님 코드
def lonely(numbers):
    result = [numbers[0]]
    for n in numbers:
        if result[-1] != n:
            result.append(n)
    return result

In [114]:
# 해당 코드를 통해 [1, 3, 0, 1]과 [4, 3]이 나오는지 확인하세요.
print(lonely([1, 1, 3, 3, 0, 1, 1]))
print(lonely([4,4,4,3,3]))

[1, 3, 0, 1]
[4, 3]