In [111]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [3]:
a = "hi! Everyone, I'm yoon"

In [5]:
a.capitalize()

"Hi! everyone, i'm yoon"

In [6]:
a.title()

"Hi! Everyone, I'M Yoon"

In [7]:
a.upper()

"HI! EVERYONE, I'M YOON"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [8]:
a.lower()

"hi! everyone, i'm yoon"

In [9]:
a.swapcase()

"HI! eVERYONE, i'M YOON"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [10]:
' '.join(['hi', 'everyone'])

'hi everyone'

In [11]:
a = [1, 2, 3]
''.join(map(str, a)) # map은 str을 a리스트 항목마다 적용한다는 뜻

'123'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [12]:
'wow!'.replace('o', '_')

'w_w!'

In [13]:
'woooooooow'.replace('o', '_')

'w________w'

In [14]:
'woooooooow'.replace('o', '_', 2) # 2에 들어가는 count 는 써도 되고 안써도 된다. [count] 는 안써도된다는뜻

'w__oooooow'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [15]:
'              wow!'.strip()

'wow!'

In [16]:
'            wow!        '.strip()

'wow!'

In [17]:
'            wow!         '.rstrip()

'            wow!'

In [20]:
'   wow!\n'.strip()

'wow!'

In [23]:
'hihihihihihihihi'.strip('hi')

''

In [24]:
'a_a_a'.strip('a')

'_a_'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [25]:
#find 는 오류가 안뜨고 -1 이 뜨기때문에 index 보다 오류가 적다.
'apple'.find('a')

0

In [27]:
'apple'.find('p')

1

In [28]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [29]:
'apple'.index('p')

1

In [31]:
'apple'.index('f')  # 없는 값을 넣으면 find와 달리 에러가 뜬다.

ValueError: substring not found

In [33]:
'apple'.count('p')  # count(p) 는 스트링에 있는 p의 개수를 센다.

2

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

In [35]:
'adf2fd'.isalpha() # 알파벳들로만 이루지면 True

False

In [36]:
'123'.isdecimal()

True

In [40]:
a = '12a'
if a.isdecimal():
    a = int(a)
    print(type(a))
else:
    print('정수로 변환할 수 없습니다.')

정수로 변환할 수 없습니다.

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [41]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [43]:
inputs = input().split()
print(inputs)

5 3 1 2 5
['5', '3', '1', '2', '5']

In [46]:
inputs = list(map(int, input().split())) # map을 활용하여 스트링인 리스트를 전부 int 리스트로 바꿈
print(inputs)

5 3  1 2 5
[5, 3, 1, 2, 5]

## 1.4 문자열 뒤집기

In [1]:
'123'[::-1]

'321'

In [3]:
'a'

'a'

In [48]:
''.join(reversed('123'))

'321'

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [49]:
shop = ['abcmart', 'nike', 'addidas'] # 리스트는 스트링과 달리 원본 값이 변형되서 나온다 print를 필수로 찍어야한다.

In [50]:
shop.append('puma') # 리스트에 값 '한 개' 를 추가하는 역할

In [51]:
print(shop)

['abcmart', 'nike', 'addidas', 'puma']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [52]:
shop.extend(['north face', 'new balance']) # 리스트에 리스트를 추가하는 역할

In [53]:
print(shop)

['abcmart', 'nike', 'addidas', 'puma', 'north face', 'new balance']

In [54]:
[1, 2, 3] + [4, 5]

[1, 2, 3, 4, 5]

In [60]:
shop.extend('ediya')

In [61]:
print(shop)

['abcmart', 'nike', 'addidas', 'puma', 'north face', 'new balance', 'n', 'o', 'r', 't', 'h', ' ', 'f', 'a', 'c', 'e', 'n', 'o', 'r', 't', 'h', ' ', 'f', 'a', 'c', 'e', 'n', 'o', 'r', 't', 'h', 'f', 'a', 'c', 'e', 'e', 'd', 'i', 'y', 'a']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [5]:
fruits = ['apple', 'banana']

In [6]:
fruits.insert(1, 'pineapple')

In [7]:
print(fruits)

['apple', 'pineapple', 'banana']

In [79]:
['melon'] + fruits

['melon', 'pineapple', 'apple', 'banana']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [80]:
fruits.remove('apple')

In [81]:
print(fruits)

['pineapple', 'banana']

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [83]:
print(fruits)
fruits.pop() # pop 같은 경우는 지우고 지운값을 반환하기 때문에 어떤 걸 지웠는지 알기 편해서 더 많이 사용.

['pineapple', 'banana']

'banana'

In [85]:
fruits.pop(1)

IndexError: pop from empty list

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [86]:
a = [1, 2, 3, 4, 5, 5, 5]
a.index(5)

4

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [87]:
a = [1, 2 ,3, 1, 4, 2]
a.count(1)

2

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [88]:
print(a)
a.sort()
print(a)

[1, 2, 3, 1, 4, 2]
[1, 1, 2, 2, 3, 4]

In [89]:
a.sort(reverse=True)
print(a)

[4, 3, 2, 2, 1, 1]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [90]:
a = [2, 1, 5]
list(reversed(a))

[5, 1, 2]

## 복사

In [91]:
# 리스트 복사를 해봅시다.
a = [1, 2, 3]
b = a

In [92]:
# b의 값을 바꾸고 a를 출력해봅시다.
b[0] = 5
print(a)

[5, 2, 3]

In [94]:
# 실제로 같은지 확인해봅시다.
print(b)
print(id(a))
print(id(b))

[5, 2, 3]
2209110718344
2209110718344

In [96]:
# 숫자를 확인해봅시다.
a = 10005
b = a
b = 1003
print(a)

10005

In [98]:
a = 10005
print(id(a))
a = 12346465475756
print(id(a))

2209110872784
2209110872624

In [101]:
# 리스트를 통째 복사한다면 원본이 바뀌므로 안전 복사 1
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [99]:
# 안전 복사 2
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
# 딕셔너리도 확인해봅시다.

In [107]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

NameError: name 'IFrame' is not defined

In [ ]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 복사 예시

In [ ]:
# 복사 예시2

In [113]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [102]:
# 얕은 복사 예시
import copy
a = [1, 2, 3]
b = copy.copy(a)
b[0] = 5
print(a)

[1, 2, 3]

In [105]:
a = [[1, 2], 2, 3] # 얕은 복사로 해결이 안되는 경우이다. 깊은 복사로 해결 가능
b = a[:]
b[0][0] = 5
print(a)

[[5, 2], 2, 3]

In [112]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [108]:
# 깊은 복사 예시
import copy
a = [[1, 2], 2 , 3]
b = copy.deepcopy(a)
b[0][0] = 5
print(a)

[[1, 2], 2, 3]

In [114]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [115]:
a.clear()

In [116]:
print(a)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [120]:
even_list = []
cubic_list = []
for i in range(1, 6):
    even_list.append(i*2)
print(even_list)

[2, 4, 6, 8, 10]

In [123]:
even_list = [x*2 for x in range(1, 6)]
print(even_list)

[2, 4, 6, 8, 10]

In [124]:
even_list = [x for x in range(1, 11) if x % 2==0]
print(even_list)

[2, 4, 6, 8, 10]

In [122]:
cubic_list = [x**3 for x in range(1, 11)]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [126]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = []
for girl in girls:
    for boy in boys:
        pair.append((boy, girl))
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [130]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = [(boy,girl) for girl in girls for boy in boys]
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
x,y,z
x**2 + y**2 = z**2

In [151]:
# x_list = range(51)
# y_list = range(51)
# z_list = range(51)

pita = [(x,y,z) for x in range(51) for y in range(51) for z in range(51) if x<y<z<50 and x**2 + y**2 == z**2]
print(pita)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [167]:
bowel = ['a', 'e', 'i', 'o', 'u']
words = 'Life is too short, you need python!'
delete = [i for i in words if i not in bowel]
print(''.join(delete))

Lf s t shrt, y nd pythn!

In [162]:
# 강사님
bowel = 'aeiou'
words = 'Life is too short, you need python!'
result = [x for x in words if x not in bowel]
print(''.join(result))

Lf s t shrt, y nd pythn!

In [147]:
words = 'Life is too short, you need python!'
word = []
words.split(words)
print(words)

AttributeError: 'list' object has no attribute 'split'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)